header {
    background-color: #fff;
    height: 10vh;
    padding: 15px 0;
    top: 0;
    z-index: 9999;

}

header img {
    width: 170px;
}

.small {
    display: flex;
    justify-content: space-between;
}

header a {
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
}

header a:hover {
    color: #27ae60;
}