.team .box {
    background: #ffffff;
    border: 1px solid rgba(62 28 131/18%);
    border-radius: 6px;
    padding: 2rem;
    transition: 0..2s;
}

.team .box:hover {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
    cursor: pointer;
}